<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.bdqn.pnback.dao.ClassifyDao">

    <insert id="zeng" parameterType="cn.bdqn.pnback.pojo.Menu">
         INSERT INTO menu VALUES(NULL,#{name},NULL )
    </insert>
</mapper>