<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.bdqn.pnback.dao.CommentDao">
    <select id="getCount" resultType="Integer" >
        SELECT COUNT(*) FROM Comment
    </select>
        <select id="getCommentPage" resultType="cn.bdqn.pnback.pojo.Comment">
             SELECT * FROM Comment limit #{index},#{pageCount}
        </select>

    <select id="cha" resultType="cn.bdqn.pnback.pojo.Comment">
        SELECT * FROM Comment
    </select>
    <delete id="shan" parameterType="cn.bdqn.pnback.pojo.Comment" >
        DELETE  FROM Comment WHERE cId=#{id}
    </delete>
</mapper>