<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.bdqn.pnback.dao.GoodsDao">
    <resultMap id="hehe" type="cn.bdqn.pnback.pojo.Goods">
        <id column="gId" property="gId"/>
        <result property="gName" column="gName" />
        <result property="dId" column="dId" />
        <result property="cId" column="cId" />
        <result property="rContent" column="rContent" />
        <result property="pFen" column="pFen" />
        <result property="kTime" column="kTime" />
        <result property="jTime" column="jTime" />
        <result property="address" column="address" />
        <result property="price" column="price" />
        <result property="gTime" column="gTime" />
        <result property="rSeat" column="rSeat" />
        <result property="gDiscount" column="gDiscount" />
        <result property="photoId" column="photoId" />
        <association property="classify" javaType="cn.bdqn.pnback.pojo.Classify">
            <id column="cId" property="cId"/>
            <result column="cName" property="cName"/>
            <result column="zId" property="zId"/>
        </association>
    </resultMap>
    <select id="getGoodsPage" resultMap="hehe">
        SELECT * FROM goods g LEFT JOIN classify c ON g.`cId`= c.`cId` limit #{index},#{pageCount}
    </select>
    <select id="getCount" resultType="Integer">
         SELECT COUNT(*) FROM goods g LEFT JOIN classify c ON g.`cId`= c.`cId`
    </select>
    <delete id="del">
      DELETE FROM goods WHERE `gId`=#{gId}
    </delete>
    <insert id="add" parameterType="cn.bdqn.pnback.pojo.Goods">
        INSERT INTO `ticket`.`goods` VALUES(null,#{gName},#{dId},#{cId},#{rContent},#{pFen},#{kTime},#{jTime},#{address},#{price},now(),#{rSeat},#{gDiscount},#{photoName})
    </insert>
    <select id="getGoodsById" resultMap="hehe">
         SELECT * FROM goods WHERE gId=#{gId}
    </select>
    <update id="upd" parameterType="cn.bdqn.pnback.pojo.Goods">
        UPDATE `ticket`.`goods` SET  `gName` = #{gName},`dId` = #{dId},`cId` = #{cId},`rContent` = #{rContent},`pFen` = #{pFen},`kTime` = #{kTime},`jTime` = #{jTime},`address` = #{address},`price` = #{price},`gTime` = #{gTime},`rSeat` = #{rSeat},`gDiscount` = #{gDiscount},`photoName`= #{photoName}  where gId=#{gId}
    </update>
</mapper>