<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.bdqn.pnback.dao.InventoryDao">

    <select id="idcha" resultType="cn.bdqn.pnback.pojo.Inventory">
        SELECT * FROM Inventory where tId=1
    </select>

</mapper>