<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.bdqn.pnback.dao.InventoryDao">
    <select id="jiucha" resultType="cn.bdqn.pnback.pojo.Inventory">
          SELECT * FROM inventory,ticket,scene,goods  WHERE inventory.`tId`= ticket.`tId` AND scene.`sId`=ticket.`sId` AND goods.`gId`=scene.`gId`
    </select>

    <select id="idcha" resultType="cn.bdqn.pnback.pojo.Inventory">
        SELECT * FROM Inventory where tId=#{tId}
    </select>
    <select id="leicha" resultType="cn.bdqn.pnback.pojo.Inventory">
        SELECT * FROM inventory,ticket,scene,goods  WHERE inventory.`tId`= ticket.`tId` AND scene.`sId`=ticket.`sId` AND goods.`gId`=scene.`gId`
    </select>

    <select id="idcha1" resultType="cn.bdqn.pnback.pojo.Inventory">
        SELECT * FROM Inventory where tId=#{tId}
    </select>
    <select id="jiucha1"  resultType="cn.bdqn.pnback.pojo.Inventory">
        SELECT * FROM inventory,ticket,scene WHERE inventory.`tId`=ticket.`tId` AND ticket.`sId`=scene.`sId`
        </select>
</mapper>