<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.bdqn.pnback.dao.MenuDao">
    <!--<insert id="zeng" parameterType="cn.bdqn.pnback.pojo.Menu">-->
        <!--INSERT INTO menu VALUES(null,#{name},NULL )-->
    <!--</insert>-->
    <select id="lala" resultType="cn.bdqn.pnback.pojo.Menu">
        select * from menu where pid=1
    </select>
    <select id="lala1" resultType="cn.bdqn.pnback.pojo.Menu">
         select * from menu where pid=2
    </select>
    <select id="lala2" resultType="cn.bdqn.pnback.pojo.Menu">
         select * from menu where pid=3
    </select>
</mapper>